<!DOCTYPE html>
<html lang="en">
<head>
    <title>Lineup manager</title>
    <style>
    	div.field {
  			position: absolute;   
  			top: 0px; 
  			left: 10px;
  			width: 680px;
  			height: 1000px;
		}

		div.player {   
  			position: absolute;   
  			float:left;
  			text-align:center;
  			width: 50px;
  			height: 25px;
		}

		div.name {
  			text-align:center;  
  			width:20px;  
		}
    </style>
</head>

<body>
    <div id="sidebar">
        {% block sidebar %}
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/accounts/login/">Login</a></li>
            <li><a href="/accounts/logout/">Logout</a></li>
            <li><a href="/accounts/password/">Change Password</a></li>
            <li><a href="/user/">Create user</a></li>
        </ul>
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>

</html>